<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/static/style.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
    </script>
</head>
<body>
<div class="whole">
    {% include 'include0.html' %}
    <div class="wrap_inner">
        <main class="container">
            <section class="left_content">
                <article class="boards_style">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th class="table_title">제목</th>
                                <th>글쓴이</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for board in boards %}
                            <tr>
                                <td class="table_number">{{board.id}}</td>
                                <td class="table_title"><a href="detail?detail_id={{board.id}}" class="table_con">{{board.title}}</a></td>
                                <td><a href="detail?detail_id={{board.id}}" class="table_con">{{board.user_name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/write" class="write_link">글쓰기</a>
                    <div class="pagenation">
                    {% for page in pages %}
                        <a class="link_page {{page}}" href="/boards?page={{ page }}">{{ page }}</a>
                    {% endfor %}
                    </div>
                </article>
            </section>
            <section class="right_content">

            </section>
        </main>
    </div>
    <footer class="dcfoot"></footer>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);  //window.location.search을 통해 url 쿼리스트링을 파싱함 ex) ?id=hit&no=15747;
    let page = urlParams.get('page')

    if(page === null) {
        page = '1'
    }

    //jquery 
    $(".link_page").each(function() {
      if($(this).text() === page){
        $(this).addClass('active')
      }
    })

    /*$(".link_page").each(function(){
        if(page === null) {
            page == 1
          }
    })*/

    /*
    if(page === null){
        $(".1").addClass('active')
    }
    */


</script>
</body>
</html>