<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{detail.title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
</head>
<body>
<div class="whole">
    {% include 'include0.html' %}
    <main class="container">
        <div class="main_content clear">
            <section class="left_content">
                <fieldset class="detail_fieldset">
                    <div class="detail_title">
                        {{detail.title}}<br>
                    </div>
                    <div class="detail_user_name">
                        {{detail.user_name}}<br>
                        <div class="btn_{{detail.id}}"><button onClick="onClickButton({{detail.id}})" class="edit_btn">수정</button></div>
                    </div>
                </fieldset>
                <fieldset class="detail_content">
                    <div>
                        {{detail.content}}<br>
                    </div>
                </fieldset>
                <fieldset class="comments_block">
                    <div>
                        {% for comment in comments %}
                            <span class="comments">{{ comment.user_name }}</span>
                            <span>{{ comment.content }}</span><br>
                        {% endfor %}
                    </div>
                </fieldset>
                <fieldset class="comments_field">
                    <div class="comments_input">
                        <form action="/detail/comment?id={{ detail.id }}" method="POST">
                            <input name="content" class="comments_input"/>
                            <button class="comments_btn">댓글달기</button>
                        </form>
                    </div>
                </fieldset>
                <div class="other_menu">
                    <a href="/boards" class="detail_whole">전체글</a>
                    <a href="/delete?delete_id={{detail.id}}" class="delete_btn">삭제</a>
                    <a href="/write" class="write_btn">글쓰기</a>
                </div>
            </section>
            <section class="right_content">
            </section>
        </div>
    </main>
    <footer class="dcfoot"></footer>
</div>
<script>
    function onClickButton (number) {
        $(".btn_" + number).append(
            `<form action="/edit?edit_id=${number}" method='POST'><input type='text' name='edit' placeholder='내용'/><button>등록하기</button></form>`
        )
    }   
</script>
</body>
</html>