<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="dcheader">
        <div class="header_top">
            <a href="/" class="main_logo">Cube</a>

            {% if member %}
            <span class="name_top">{{member.user_name}}</span>
            {% else %}
            <span><a href="/login" class="header_top_login">로그인</a></span>
            {% endif %}

        </div>
    </header>
    <div class="menu">
        <ul class="display_block" id="top_menu">
            <li class="display_block"><a href="/boards" class="menu_list">게시판</a></li>
            <li class="display_block"><a href="/write" class="menu_list">글쓰기</a></li>
        </ul>
    </div>
</body>
</html>