<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="whole">
        {% include 'include1.html' %}
        <main class="container">
            <div class="content_login">
                <div class="join_box">
                        <form action="/join_process" method='POST' class="form">
                            <input type="text" name="user_id" placeholder="아이디" class="input_join"><br>
                            <input type="password" name="user_pw" placeholder="비밀번호" class="input_join"><br>
                            <input type="text" name="user_name" placeholder="이름or닉네임" class="input_join"><br>
                            <button class="process_btn">회원가입</button>
                        </form>
                </div>
            </div>
        </main>
    </div>
</html>