<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="whole">
    {% include 'include0.html' %}
    <main class="container">
        <div class="main_content clear">
            <section class="left_content">
                <div class="movie_rank">

                    <p class="ranking">영화 순위</p>
                    {% for movie in movies %}
                        <a href="https://movie.naver.com{{movie.address}}" target="_blank" class="ranklists">{{movie.rank}}위:{{movie.title}}</a>
                        <div class="blank"></div>
                    {% endfor %}

                </div>
                <div class="humor_rank">

                    <p class="ranking">유머 순위</p>
                    {% for humor in humors %}
                        <a href="http://web.humoruniv.com{{humor.address}}" target="_blank" class="ranklists">{{humor.rank}}위:{{humor.title}}</a>
                        <div class="blank"></div>
                    {% endfor %}

                </div>
            </section>
            <section class="right_content">
                <div class="login">
                    <fieldset>
                        <form action="login_process" method='POST'>
                            <input type="text" name="user_id" placeholder="아이디" class="input_info"><br>
                            <input type="password" name="user_pw" placeholder="비밀번호" class="input_info">
                            <button class="login_btn">로그인</button>
                        </form>
                        <br><a href="/join" class="join_link">회원가입</a>
                    </fieldset>
                </div>
            </section>
        </div>
    </main>
</div>
</body>
</html>