<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 실패</title>
</head>
<body>
    <h1>아이디/비밀번호가 잘못되었습니다.</h1>
    <fieldset>
        <form action="login_process" method='POST'>
            <input type="text" name="user_id" placeholder="아이디"><br>
            <input type="password" name="user_pw" placeholder="비밀번호"><br>
            <button>로그인</button>
        </form>
    </fieldset>
</body>
</html>